{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Fantasy Football</h1>
  <p class="lead">Current Scores and Standings</p>
  <p class="lead">
       <a class="btn btn-primary btn-lg" href="/FantasyFootball/scoreboard" role="button">View Scores</a>
  </p>
  <p class="lead">
       <a class="btn btn-primary btn-lg" href="/FantasyFootball/standings" role="button">View Standings</a>
  </p>


</div>
{% endblock content %}
